In [1]:
import pandas as pd

In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [13]:
df=[4,5,14,15,23,45]
series=pd.Series(df)
series

In [17]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [56]:
df=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(df)
series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [20]:
#Q3. Create a Pandas DataFrame that contains the following data:

In [57]:
df={'Name':['Alice','Bob','CLaire'], 'Age':[25,30,27], 'Gender':['Female','Male','Female']}
df1=pd.DataFrame(df)
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  CLaire   27  Female

In [ ]:
Q4:What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
    DataFrame:
        In pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure. 
        It is the most commonly used data structure in pandas and can be thought of as a table or spreadsheet with rows
        and columns, similar to a SQL table or an Excel spreadsheet. Each column in a DataFrame can have a different data type,
        which makes it a versatile data structure for handling and analyzing data.

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type. 
It is like a single column in a DataFrame. While a DataFrame is a table of data, a Series is a single column of data with 
an associated label called an index. You can think of a Series as a special case of a DataFrame where there is only one column.

In [58]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 35], name='Age')

# Displaying the DataFrame
print("DataFrame:")
print(df)
print("\nDataFrame info:")
print(df.info())

# Displaying the Series
print("\nSeries:")
print(ages)

DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None

Series:
0    25
1    30
2    35
Name: Age, dtype: int64

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
Here are some common functions and methods:

 Filtering and Selection:
loc[] and iloc[]: Used to select rows and columns by label and integer location, respectively.
Example: df.loc[df['Age'] > 30] selects rows where the 'Age' column is greater than 30.

 Sorting:
sort_values(): Sorts the DataFrame by one or more columns.
Example: df.sort_values(by='Age', ascending=False) sorts the DataFrame by the 'Age' column in descending order.

  Grouping and Aggregation:
groupby(): Groups data based on one or more columns.
agg(): Computes aggregate functions on grouped data.
Example: df.groupby('Gender')['Salary'].mean() calculates the mean salary for each gender.

 Merging and Joining:
merge(): Combines two DataFrames based on a common column or index.
Example: pd.merge(df1, df2, on='ID') merges two DataFrames based on the 'ID' column.

 Pivoting and Reshaping:
pivot(), pivot_table(), melt(), stack(), and unstack(): Used to reshape data between long and wide formats.
Example: df.pivot(index='Date', columns='Variable', values='Value') pivots data into a more readable format.

 Handling Missing Data:
dropna(): Removes rows or columns with missing values.
fillna(): Fills missing values with specified data.
Example: df.dropna() removes rows with any missing values.

 Creating New Columns:
You can create new columns based on existing ones using arithmetic operations, functions, or conditions.
Example: df['Total'] = df['Quantity'] * df['Price'] creates a new 'Total' column based on the product of 'Quantity' and 'Price' columns.

  Applying Functions:
apply(): Applies a function along rows or columns.
Example: df['Age'] = df['Age'].apply(lambda x: x + 1) increments the 'Age' of each person by 1.

 Dropping Columns or Rows:
drop(): Removes specified rows or columns.
Example: df.drop(columns=['Column1', 'Column2']) drops the specified columns.

 String Operations:
Pandas provides various string methods like str.contains(), str.replace(), and str.split() for string manipulation.
Example: df['Title'] = df['Name'].str.split().str.get(0) extracts the first word from the 'Name' column.

    Visualization:
You can use libraries like Matplotlib or Seaborn to visualize data stored in a DataFrame.
Saving Data:

to_csv(), to_excel(), and other methods allow you to save the DataFrame to different file formats.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Python, the term "mutable" refers to an object or data structure that can be modified or changed after it is created.
This means that you can alter the content, state, or elements of a mutable object without creating a completely new object.
Mutable objects contrast with "immutable" objects, which cannot be changed once they are created.

Series-     one dimensional array   -Size immutable
DataFrame-  two dimensional array   -Size mutalbe
Panel-      Three Dimensional array -Size mutable

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [59]:
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
scores = pd.Series([95, 88, 92])

# Creating a DataFrame from the Series
data = {'Name': names, 'Age': ages, 'Score': scores}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age  Score
0    Alice   25     95
1      Bob   30     88
2  Charlie   35     92